<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    let myChart1, myChart2;

    function initializeCharts() {
        const ctx1 = document.getElementById('myChart1').getContext('2d');
        myChart1 = createChart(ctx1, 'bar', initialData, options);

        const ctx2 = document.getElementById('myChart2').getContext('2d');
        myChart2 = createChart(ctx2, 'line', initialData, options);
    }

    // 차트 생성 함수
    function createChart(ctx, dataModels, xTitle, yTitle, avgYn) {

        var labels = [];
        var dataValues = [];

        if(dataModels != null) {
            dataModels.forEach(function(item) {
                labels.push(item.xDataGroup);  // X축에 표시할 데이터
                dataValues.push(item.yDataGroup);  // Y축에 표시할 데이터
            });
        }

        var options = {
            responsive: true,
            scales: {
                x: {
                    type: 'category',
                    title: {
                        display: true,
                        text: xTitle
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: yTitle
                    }
                }
            },
            plugins: {
                tooltip: {
                    enabled: true, // 기본 툴팁 비활성화
                    mode: 'nearest', // 가까운 데이터에 대한 툴팁을 표시
                    intersect: false, // 그래프 라인 위에서 툴팁을 표시하도록 설정
                    callbacks: {
                        title: function(tooltipItems) {
                            return '';  // 툴팁 제목은 비워둡니다.
                        },
                        label: function(tooltipItem) {
                            return tooltipItem.raw.toFixed(5);  // 해당 데이터의 값 표시
                        }
                    }
                },
            }
        }

        if(avgYn == 'Y'){
            options = {
                responsive: true,
                scales: {
                    x: {
                        type: 'category',
                        title: {
                            display: true,
                            text: xTitle
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: yTitle
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        enabled: true, // 기본 툴팁 비활성화
                        mode: 'point', // 선택된 데이터에 대한 툴팁을 표시
                        intersect: false, // 그래프 라인 위에서 툴팁을 표시하도록 설정
                        callbacks: {
                            title: function(tooltipItems) {
                                return '';  // 툴팁 제목은 비워둡니다.
                            },
                            label: function(tooltipItem) {
                                // 평균값 라인에 대한 툴팁만 활성화
                                // 툴팁이 평균값 라인에 호버할 때만 평균값을 표시하도록 설정
                                 if (tooltipItem.datasetIndex !== undefined) {
                                    return tooltipItem.raw.toFixed(5);  // 해당 데이터의 값 표시
                                }

                                // 평균값 라인에 호버하면 평균값 표시
                                return '평균값: ' + average.toFixed(5);
                            }
                        }
                    },
                    annotation: {
                        annotations: {
                            averageLine: {
                                type: 'line',
                                yMin: average,  // 평균값
                                yMax: average,  // 평균값
                                borderColor: 'red',  // 선 색상
                                borderWidth: 2,
                                label: {
                                    enabled: false  // 레이블을 표시하지 않음 (툴팁만 사용)
                                }
                            }
                        }
                    }
                }
            }
        }

        return new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: '사정율 변화',
                    data: dataValues,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    fill: false
                }]
            },
            options: options
        });
    }

    // 차트 데이터 및 옵션 설정
    const initialData = {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    };

    function updateChartData(chart, path, avgYn) {
        var winbidAnalSearchPayload = $("form[name=datePerRateChart]").serialize();

        $.ajax({
            url: '/api/winbidAnal/'+path,
            type: 'POST',
            data: winbidAnalSearchPayload,
            success: function(data) {
                var dataModels = JSON.parse(data);
                var labels = [];
                var dataValues = [];

                // 서버에서 받은 JSON 데이터를 사용하여 labels와 dataValues를 설정
                console.log('dataModels : '+dataModels);
                dataModels.forEach(function(item) {
                    console.log('item.yDataGroup : '+item.yDataGroup);
                    console.log('item.xDataGroup : '+item.xDataGroup);
                    labels.push(item.xDataGroup);  // X축: 날짜
                    dataValues.push(item.yDataGroup);  // Y축: 예측 사정율
                });

                // 기존 차트 업데이트
                chart.data.labels = labels;
                chart.data.datasets[0].data = dataValues;

                if(avgYn == 'Y') {
                    sum = dataValues.reduce((a, b) => a + b, 0);
                    average = sum / dataValues.length;  // 평균값

                    chart.options.plugins.annotation.annotations.averageLine.yMin = average;
                    chart.options.plugins.annotation.annotations.averageLine.yMax = average;
                    $("#avgText").text(average.toFixed(5));
                }

                chart.update();
            },
            error: function(err) {
                console.error('Error fetching data:', err);
            }
        });
    }
</script>
</body>
</html>