<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    var sum = 0;
    var average = 0;
    var upperAvg = 0;
    var lowerAvg = 0;

    // 차트 생성 함수
    function createChart(ctx, dataModels, xTitle, yTitle, avgYn) {

        var labels = [];
        var dataValues = [];
        var cntValues = [];

        if(dataModels != null) {
            dataModels.forEach(function(item) {
                labels.push(item.xdataGroup);  // X축에 표시할 데이터
                dataValues.push(item.ydataGroup);  // Y축에 표시할 데이터
                if(avgYn == 'N'){
                    cntValues.push(item.cnt);  // 툴팁에 표시할 데이터 : count
                }
            });
        }

        var options = {
            responsive: true,
            scales: {
                x: {
                    type: 'category',
                    title: {
                        display: true,
                        text: xTitle
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: yTitle
                    }
                }
            },
            plugins: {
                tooltip: {
                    enabled: true, // 기본 툴팁 비활성화
                    mode: 'nearest', // 가까운 데이터에 대한 툴팁을 표시
                    intersect: false, // 그래프 라인 위에서 툴팁을 표시하도록 설정
                    callbacks: {
                        title: function(tooltipItems) {
                            return '';  // 툴팁 제목은 비워둡니다.
                        },
                        label: function(tooltipItem) {
                            const value = tooltipItem.raw.toFixed(5); // 데이터 값
                            const index = tooltipItem.dataIndex; // 현재 데이터의 인덱스
                            const countValue = cntValues[index];

                            return [
                                `사정율 : ${value}`,
                                `건수 : ${countValue}`
                            ]  // 해당 데이터의 값 표시
                        }
                    }
                },
            }
        }

        if(avgYn == 'Y'){
            options = {
                responsive: true,
                scales: {
                    x: {
                        type: 'category',
                        title: {
                            display: true,
                            text: xTitle
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: yTitle
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        enabled: true, // 기본 툴팁 비활성화
                        mode: 'nearest', // 선택된 데이터에 대한 툴팁을 표시
                        intersect: false, // 그래프 라인 위에서 툴팁을 표시하도록 설정
                        callbacks: {
                            title: function(tooltipItems) {
                                return '';  // 툴팁 제목은 비워둡니다.
                            },
                            label: function(tooltipItem) {
                                // 평균값 라인에 대한 툴팁만 활성화
                                // 툴팁이 평균값 라인에 호버할 때만 평균값을 표시하도록 설정
                                 if (tooltipItem.datasetIndex !== undefined) {
                                    const value = tooltipItem.raw.toFixed(5); // 데이터 값

                                    return [
                                        `사정율 : ${value}`
                                    ]  // 해당 데이터의 값 표시
                                }

                                // 평균값 라인에 호버하면 평균값 표시
                                return '평균값: ' + average.toFixed(5);
                            }
                        }
                    },
                    annotation: {
                        annotations: {
                            averageLine: {
                                type: 'line',
                                yMin: average,  // 평균값
                                yMax: average,  // 평균값
                                borderColor: 'red',  // 선 색상
                                borderWidth: 2,
                                label: {
                                    enabled: false  // 레이블을 표시하지 않음 (툴팁만 사용)
                                }
                            },
                            upperAvg: {
                                type: 'line',
                                yMin: upperAvg,    // 첫 번째 추가 라인
                                yMax: upperAvg,    // 첫 번째 추가 라인
                                borderColor: 'blue',  // 선 색상
                                borderWidth: 1,
                                label: {
                                    enabled: false  // 레이블을 표시하지 않음
                                }
                            },
                            lowerAvg: {
                                type: 'line',
                                yMin: lowerAvg,    // 두 번째 추가 라인
                                yMax: lowerAvg,    // 두 번째 추가 라인
                                borderColor: 'green',  // 선 색상
                                borderWidth: 1,
                                label: {
                                    enabled: false  // 레이블을 표시하지 않음
                                }
                            }
                        }
                    }
                }
            }
        }

        return new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: '사정율 변화',
                    data: dataValues,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1,
                    fill: false
                }]
            },
            options: options
        });
    }

    function updateChartData(myChart, dminsttResultsTwoChart, dminsttResultsThreeChart, avgYn) {
        var winbidAnalSearchPayload = $("form[name=datePerRateChart]").serialize();

        $.ajax({
            url: '/api/winbidAnal/datePerRateChart',
            type: 'POST',
            data: winbidAnalSearchPayload,
            success: function(data) {
                var dataModels = JSON.parse(data);

                var labels = [];
                var dataValues = [];
                var dminsttResultsTwoLabels = [];
                var dminsttResultsTwoValues = [];
                var dminsttResultsTwoCnt = [];
                var dminsttResultsThreeLabels = [];
                var dminsttResultsThreeValues = [];
                var dminsttResultsThreeCnt = [];

                var chartResults = dataModels.chartResults;
                var dminsttResultsTwo = dataModels.dminsttResultsTwo;
                var dminsttResultsThree = dataModels.dminsttResultsThree;

                // 서버에서 받은 JSON 데이터를 사용하여 labels와 dataValues를 설정
                chartResults.forEach(function(item) {
                    labels.push(item.xdataGroup);  // X축: 날짜
                    dataValues.push(item.ydataGroup);  // Y축: 예측 사정율
                });

                // 기존 차트 라벨, 데이터 세팅
                myChart.data.labels = labels;
                myChart.data.datasets[0].data = dataValues;

                // 평균값 계산 및 차트 평균값 수정
                sum = dataValues.reduce((a, b) => a + b, 0);
                average = sum / dataValues.length;  // 평균값

                upperSum = 0;
                upperCnt = 0;
                lowerSum = 0;
                lowerCnt = 0;

                dataValues.forEach(function(item) {
                    if(item >= average) {
                        upperCnt++;
                        upperSum += item;
                    }else{
                        lowerCnt++;
                        lowerSum += item;
                    }
                });

                upperAvg = upperSum / upperCnt;
                lowerAvg = lowerSum / lowerCnt;

                myChart.options.plugins.annotation.annotations.averageLine.yMin = average;
                myChart.options.plugins.annotation.annotations.averageLine.yMax = average;

                myChart.options.plugins.annotation.annotations.upperAvg.yMin = upperAvg;
                myChart.options.plugins.annotation.annotations.upperAvg.yMax = upperAvg;
                myChart.options.plugins.annotation.annotations.lowerAvg.yMin = lowerAvg;
                myChart.options.plugins.annotation.annotations.lowerAvg.yMax = lowerAvg;

                $("#avgText").text(average.toFixed(5));
                $("#upperAvgText").text(upperAvg.toFixed(5));
                $("#lowerAvgText").text(lowerAvg.toFixed(5));


                // 기존 차트 업데이트
                myChart.update();

                if(dminsttResultsTwo != '') {
                    dminsttResultsTwo.forEach(function(item) {
                        dminsttResultsTwoLabels.push(item.xdataGroup);  // X축: 날짜
                        dminsttResultsTwoValues.push(item.ydataGroup);  // Y축: 예측 사정율
                        dminsttResultsTwoCnt.push(item.cnt); // 툴팁용 건수 데이터
                    });

                    dminsttResultsTwoChart.data.labels = dminsttResultsTwoLabels;
                    dminsttResultsTwoChart.data.datasets[0].data = dminsttResultsTwoValues;

                    dminsttResultsTwoChart.options.plugins.tooltip.callbacks.label = function(tooltipItem) {
                        const value = tooltipItem.raw.toFixed(5); // 데이터 값
                        const index = tooltipItem.dataIndex; // 현재 데이터의 인덱스
                        const countValue = dminsttResultsTwoCnt[index];

                        return [
                            `사정율 : ${value}`,
                            `건수 : ${countValue}`
                        ]  // 해당 데이터의 값 표시
                    };

                    var dinsttNm = dminsttResultsTwo[0].dminsttNm;

                    $(".dminsttNmLabel").text(dinsttNm);
                    $("#dminsttResultsTwoDiv").show();
                    dminsttResultsTwoChart.update();
                }else{
                    $("#dminsttResultsTwoDiv").hide();
                }

                if(dminsttResultsThree != '') {
                    dminsttResultsThree.forEach(function(item) {
                        dminsttResultsThreeLabels.push(item.xdataGroup);  // X축: 날짜
                        dminsttResultsThreeValues.push(item.ydataGroup);  // Y축: 예측 사정율
                        dminsttResultsThreeCnt.push(item.cnt); // 툴팁용 건수 데이터
                    });

                    dminsttResultsThreeChart.data.labels = dminsttResultsThreeLabels;
                    dminsttResultsThreeChart.data.datasets[0].data = dminsttResultsThreeValues;

                    dminsttResultsThreeChart.options.plugins.tooltip.callbacks.label = function(tooltipItem) {
                        const value = tooltipItem.raw.toFixed(5); // 데이터 값
                        const index = tooltipItem.dataIndex; // 현재 데이터의 인덱스
                        const countValue = dminsttResultsThreeCnt[index];

                        return [
                            `사정율 : ${value}`,
                            `건수 : ${countValue}`
                        ]  // 해당 데이터의 값 표시
                    };

                    var dinsttNm = dminsttResultsThree[0].dminsttNm;

                    $(".dminsttNmLabel").text(dinsttNm);
                    $("#dminsttResultsThreeDiv").show();
                    dminsttResultsThreeChart.update();
                }else{
                    $("#dminsttResultsThreeDiv").hide();
                }

            },
            error: function(err) {
                console.error('Error fetching data:', err);
            }
        });
    }
</script>
</body>
</html>