<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
document.addEventListener('DOMContentLoaded', function() {
        // 페이지가 로드되자마자 실행될 JavaScript 코드

    const serverMessage = '[[${serverMessage}]]';

    if (serverMessage) {
        alert(serverMessage); // 팝업 메시지
    }
});

var isActiveSidebar = true;

function toggleActiveSidebar() {
    isActiveSidebar = !isActiveSidebar;
    var sidebarDiv = document.getElementById('sidebarDiv');
    if(isActiveSidebar) {
        sidebarDiv.style.display = 'block';
    }else{
        sidebarDiv.style.display = 'none';
    }
}
</script>
</body>
</html>