<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>검색 화면 입니다.</title>
</head>
<body>
    <form name="bidRecordForm" action="/bidRecord/write" method="get" >
        <input type="hidden" name="bidNtceNo"  th:value="${bidNotiResult.bidNtceNo}">
        <input type="hidden" name="bidNtceOrd"  th:value="${bidNotiResult.bidNtceOrd}">
        <input type="hidden" name="bidClsfcNo"  th:value="${bidNotiResult.bidClsfcNo}">
        <input type="hidden" name="bidNtceNm"  th:value="${bidNotiResult.bidNtceNm}">
        <input type="hidden" name="ntceInsttCd"  th:value="${bidNotiResult.ntceInsttCd}">
        <input type="hidden" name="ntceInsttNm"  th:value="${bidNotiResult.ntceInsttNm}">
        <input type="hidden" name="dminsttCd"  th:value="${bidNotiResult.dminsttCd}">
        <input type="hidden" name="dminsttNm"  th:value="${bidNotiResult.dminsttNm}">
        <input type="hidden" name="bssamt" th:if="${bidNotiResult.bssamt != null }" th:value="${bidNotiResult.bssamt}" id="bssamt">
        <input type="hidden" name="presmptPrce" th:if="${bidNotiResult.presmptPrce != null }"  th:value="${bidNotiResult.presmptPrce}" id="presmptPrce" >
        <input type="hidden" name="rsrvtnPrceRngRate" th:if="${bidNotiResult.rsrvtnPrceRngBgnRate != null }" th:value="${bidNotiResult.rsrvtnPrceRngBgnRate}">
        <input type="hidden" name="sucsfbidLwltRate" th:if="${bidNotiResult.sucsfbidLwltRate != null }"  th:value="${bidNotiResult.sucsfbidLwltRate}" >
    </form>

    <div>
        입찰공고 검색
        <form action="/api/bidNoti/search" name="bidNotiSearchForm" method="post"  th:object="${bidNotiSearchPayload}" >
            <input type="hidden" th:field="*{numOfRows}">
            <input type="hidden" th:field="*{pageNo}">
            <input type="hidden" th:field="*{type}">
            <input type="hidden" name="inqryDiv" value="2">
            <table>
                <colgroup>
                    <col style="width:20%;">
                    <col style="width:60%;">
                    <col style="width:20%;">
                </colgroup>
                <tr>
                    <td>
                        <select th:field="*{bidNtceType}" class="requiredChk" title="타입 선택">
                            <option value = "1" th:utext="물품" ></option>
                            <option value = "2" th:utext="공사" ></option>
                            <option value = "3" th:utext="외자" ></option>
                            <option value = "4" th:utext="용역" ></option>
                        </select>
                    </td>
                    <td class="inqry_id" >
                        <input type="text" th:field="*{bidNtceNo}" placeholder="입찰공고번호">
                    </td>
                    <td>
                        <div style="display: flex;">
                            <button type="submit" style="width: 150px; margin-right: 25px;">조회</button>
                            <button type="button" style="width: 150px;" th:onclick="goBidRecord()" >투찰기록 작성</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div>
        <table id="bidNotiTable">
            <colgroup>
                <col style="width:15%;"/>
                <col style="width:15%;"/>
                <col style="width:15%;"/>
                <col style="width:15%;"/>
                <col style="width:15%;"/>
                <col style="width:15%;"/>
            </colgroup>
            <tbody>
                <tr>
                    <td>공고번호</td>
                    <td colspan="2" th:text="${bidNotiResult.bidNtceNo}" ></td>
                    <td>공고차수</td>
                    <td colspan="2" th:text="${bidNotiResult.bidNtceOrd}" ></td>
                </tr>
                <tr>
                    <td>공고명</td>
                    <td colspan="5" th:text="${bidNotiResult.bidNtceNm}"></td>
                </tr>
                <tr>
                    <td>공고기관코드</td>
                    <td colspan="2" th:text="${bidNotiResult.ntceInsttCd}" ></td>
                    <td>공고기관명</td>
                    <td colspan="2" th:text="${bidNotiResult.ntceInsttNm}" ></td>
                </tr>
                <tr>
                    <td>수요기관코드</td>
                    <td colspan="2" th:text="${bidNotiResult.dminsttCd}" ></td>
                    <td>수요기관명</td>
                    <td colspan="2" th:text="${bidNotiResult.dminsttNm}" ></td>
                </tr>
                <tr>
                    <td >입찰방식명</td>
                    <td  colspan="2" th:text="${bidNotiResult.bidMethdNm}"></td>
                    <td >예정가격결정방법명</td>
                    <td  colspan="2" th:text="${bidNotiResult.prearngPrceDcsnMthdNm}" ></td>
                </tr>
                <tr>
                    <td>기초금액</td>
                    <td colspan="2" th:text="${bidNotiResult.bssamt}"></td>
                    <td>추정가격</td>
                    <td colspan="2" th:text="${bidNotiResult.presmptPrce}" ></td>
                </tr>
                <tr>
                    <td>품명번호</td>
                    <td colspan="2" th:text="${bidNotiResult.dtilPrdctClsfcNo}"></td>
                    <td>품명</td>
                    <td colspan="2" th:text="${bidNotiResult.dtilPrdctClsfcNoNm}" id="dtilPrdctClsfcNoNm"></td>
                </tr>
                <tr>
                    <td>물품수량</td>
                    <td colspan="2" th:text="${bidNotiResult.prdctQty}" ></td>
                    <td >물품단가</td>
                    <td colspan="2" th:text="${bidNotiResult.prdctUprc}"></td>
                </tr>
                <tr>
                    <td>예비가격범위시작률</td>
                    <td th:text="${bidNotiResult.rsrvtnPrceRngBgnRate}" ></td>
                    <td>예비가격범위종료율</td>
                    <td th:text="${bidNotiResult.rsrvtnPrceRngEndRate}" ></td>
                    <td >낙찰하한율</td>
                    <td th:text="${bidNotiResult.sucsfbidLwltRate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script>
    $(document).ready(function() {
       $("#dtilPrdctClsfcNoNm").hide();
    });

   $("#prdctSelector").change(function(){
       var check = $(this).val();
       if(check == 1) {
           $("#dtilPrdctClsfcNo").show();
           $("#dtilPrdctClsfcNoNm").hide();
       }else{
           $("#dtilPrdctClsfcNo").hide();
           $("#dtilPrdctClsfcNoNm").show();
       }
   });

   function goBidRecord() {
        transNumber("bssamt");
        transNumber("presmptPrce");
        $("form[name=bidRecordForm]").submit();
   }

    function transNumber(id) {
        console.log(" test : "+$("#"+id).length);

        if($("#"+id).length > 0) {
            var value = $("#"+id).val();
            var format = numFormatter(value);
            $("#"+id).val(format);
        }
    }

    function numFormatter(value) {
        var format = Number(value.replaceAll(",",""));
        return format;
    }


   function searchWinbidAnal(){
       var winbidAnalSearchPayload = $("form[name=winbidAnalSearchForm]").serialize() ;

       console.log("queryString : "+winbidAnalSearchPayload);

       $.ajax({
           url: "/api/bidNoti/search/anal",
           data: winbidAnalSearchPayload,
           type: 'POST',
           success:function(data){
               $("#bidNotiAnalTable").replaceWith(data);
           }
       });
   }

   function searchBidNoti(){
       var bidNotiSearchPayload = $("form[name=bidNotiSearchForm]").serialize() ;

       console.log("queryString : "+bidNotiSearchPayload);

       $.ajax({
           url: "/api/bidNoti/search/test",
           data: bidNotiSearchPayload,
           type: 'POST',
           success:function(data){
               console.log("data : "+data);
           }
       });
   }
</script>

<style>
    .trTest {
        overflow-y: auto
    }

    #bidNotiTable > tbody > tr {
        height: 55px;
        font-size: 17px;
    }

</style>

</body>
</html>