<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>검색 화면 입니다.</title>
</head>
<body>
    <div>
        투찰이력 검색
        <form name="bidRecordSearchForm" method="post"  th:object="${bidRecordSearchPayload}" >
            <table>
                <tr>
                    <td>
                        사이트 구분
                    </td>
                    <td>
                        <select th:field="*{marketCd}" title="조달사이트 구분">
                            <option value= "" >전체</option>
                            <option th:each="market : ${markets}" th:utext="${market.codeName}" th:value="${market.code}" ></option>
                        </select>
                    </td>
                    <td>
                        품명 번호
                    </td>
                    <td>
                        <input type="text" th:field="*{bidNtceNo}" placeholder="품명 번호">
                    </td>
                </tr>
                <tr>
                    <td>
                        관리기관 코드
                    </td>
                    <td>
                        <input type="text" th:field="*{ntceInsttCd}" placeholder="관리기관 코드">
                    </td>
                    <td>
                        수요기관 코드
                    </td>
                    <td>
                        <input type="text" th:field="*{dminsttCd}" placeholder="수요기관 코드">
                    </td>
                </tr>
                <tr>
                    <td colspan="4" style="padding: 8px 30px;">
                        <button type="button" th:onclick="searchBidRecordList()" style="float: right; width: 150px;">조회</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <div>
        <table id="bidRecordList">
            <colgroup>
                <col style="width:6.5%">
                <col style="width:6.5%">
                <col style="width:18.5%">
                <col style="width:8%">
                <col style="width:8%">
                <col style="width:8.5%">
                <col style="width:8.5%">
                <col style="width:8.5%">
                <col style="width:4%">
                <col style="width:8.5%">
                <col style="width:4%">
                <col style="width:4%">
                <col style="width:6.5%">
            </colgroup>
            <thead>
                <tr>
                    <td rowspan="2">조달청</td>
                    <td rowspan="2">공고번호</td>
                    <td rowspan="2">공고명</td>
                    <td rowspan="2">공고기관</td>
                    <td rowspan="2">수요기관</td>
                    <td rowspan="2">예정가격</td>
                    <td rowspan="2">기초가격</td>
                    <td colspan="2">낙찰</td>
                    <td colspan="2">투찰</td>
                    <td rowspan="2">순위</td>
                    <td rowspan="2">편차</td>
                </tr>
                <tr>
                    <td>가격</td>
                    <td>사정율</td>
                    <td>가격</td>
                    <td>사정율</td>
                </tr>
            </thead>
            <tbody class="trTest">
                <tr th:each="result : ${bidRecordResults}" >
                    <td>[[${result.marketNm}]]</td>
                    <td >[[${result.bidNtceNo}]]</td>
                    <td th:onclick="goBidRecordWrite([[${result.id}]])" style="cursor: pointer;">[[${result.bidNtceNm}]]</td>
                    <td>[[${result.ntceInsttNm}]]</td>
                    <td>[[${result.dminsttNm}]]</td>
                    <td>[[${result.expectAmt}]]</td>
                    <td>[[${result.bssamt}]]</td>
                    <td>[[${result.sucsfbidAmt}]]</td>
                    <td>[[${result.sucsfbidAmtRate}]]</td>
                    <td>[[${result.bidAmt}]]</td>
                    <td>[[${result.bidAmtRate}]]</td>
                    <td>[[${result.sucsfbidRank}]]</td>
                    <td>[[${result.bidAmtDiff}]]</td>
                </tr>
            </tbody>
        </table>
    </div>
<script>

    $(document).ready(function() {
       searchBidRecordList();
    });

   function searchBidRecordList(){
       var bidRecordSearchPayload = $("form[name=bidRecordSearchForm]").serialize() ;

       console.log("queryString : "+bidRecordSearchPayload);

       $.ajax({
           url: "/api/bidRecord/list",
           data: bidRecordSearchPayload,
           type: 'POST',
           success:function(data){
               console.log("data : "+data);
               $("#bidRecordList").replaceWith(data);
           }
       })
   }

    function goBidRecordWrite(recordId){
        location.href = "/bidRecord/write?id="+recordId;
    }
</script>

<style>
    .trTest {
        overflow-y: auto
    }

    #bidNotiTable > tbody > tr {
        height: 55px;
        font-size: 17px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f4f4f4;
    }

    /* 기본 테이블 행 색상 */
    tr {
        background-color: #fff;
        transition: background-color 0.3s ease;
    }

    /* 테이블 행에 마우스를 올렸을 때 */
    tr:hover {
        background-color: #f0f8ff; /* 호버 시 색상 */
        transform: scale(1.02); /* 살짝 확대 효과 */
    }

    /* 호버 시 텍스트 색상 변경 */
    tr:hover td {
        color: #333; /* 텍스트 색상 변경 */
    }
</style>

</style>

</body>
</html>