<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>검색 화면 입니다.</title>
</head>
<body>
    <div>
        <form action="/api/bidRecord/cud" name="bidRecordForm" method="post"  th:object="${bidRecordCudPayload}" >
            <input type="hidden" th:field="*{id}">
            <table id="bidNotiTable">
                <colgroup>
                    <col style="width:8%;"/>
                    <col style="width:8%;"/>
                    <col style="width:8%;"/>
                    <col style="width:8%;"/>
                    <col style="width:8%;"/>
                    <col style="width:8%;"/>
                    <col style="width:8%;"/>
                    <col style="width:8%;"/>
                    <col style="width:8%;"/>
                    <col style="width:8%;"/>
                    <col style="width:8%;"/>
                    <col style="width:8%;"/>
                </colgroup>
                <tbody>
                    <tr>
                        <td colspan="3">조달사이트</td>
                        <td colspan="3">
                            <select th:field="*{marketCd}">
                                <option value="00">-전체-</option>
                                <option th:each="market : ${markets}" th:utext="${market.codeName}" th:value="${market.code}" ></option>
                            </select>
                            <input type="hidden" th:field="*{marketNm}">
                        </td>
                        <td colspan="3">공고번호</td>
                        <td colspan="3">
                            <input type="text" th:field="*{bidNtceNo}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">공고차수</td>
                        <td colspan="3">
                            <input type="text" th:field="*{bidNtceOrd}">
                        </td>
                        <td colspan="3">입찰분류번호</td>
                        <td colspan="3">
                            <input type="text" th:field="*{bidClsfcNo}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">공고명</td>
                        <td colspan="9">
                            <input type="text" th:field="*{bidNtceNm}" style="width: 86%;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">공고기관명</td>
                        <td colspan="3">
                            <input type="hidden" th:field="*{ntceInsttCd}">
                            <input type="text" th:field="*{ntceInsttNm}">
                        </td>
                        <td colspan="3">수요기관명</td>
                        <td colspan="3">
                            <input type="hidden" th:field="*{dminsttCd}">
                            <input type="text" th:field="*{dminsttNm}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">기초금액</td>
                        <td colspan="3">
                            <input type="text" th:field="*{bssamt}" class="decimalFormat">
                        </td>
                        <td colspan="3">추정가격</td>
                        <td colspan="3">
                            <input type="text" th:field="*{presmptPrce}" class="decimalFormat">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">예비가격범위시작률</td>
                        <td colspan="3">
                            <input type="text" th:field="*{rsrvtnPrceRngRate}">
                        </td>
                        <td colspan="3">낙찰하한율</td>
                        <td colspan="3">
                            <input type="text" th:field="*{sucsfbidLwltRate}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">예정가</td>
                        <td colspan="2">
                            <input type="text" th:field="*{expectAmt}" class="decimalFormat" >
                        </td>
                        <td colspan="2">낙찰가</td>
                        <td colspan="2">
                            <input type="text" th:field="*{sucsfbidAmt}" class="decimalFormat" >
                        </td>
                        <td colspan="2">투찰가</td>
                        <td colspan="2">
                            <input type="text" th:field="*{bidAmt}" class="decimalFormat">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">사정율</td>
                        <td colspan="3">
                            <input type="text" th:field="*{sucsfbidAmtRate}" >
                        </td>
                        <td colspan="3">투찰사정율</td>
                        <td colspan="3">
                            <input type="text" th:field="*{bidAmtRate}" >
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">낙찰순위</td>
                        <td colspan="3">
                            <input type="text" th:field="*{sucsfbidRank}">
                        </td>
                        <td colspan="3">투찰편차</td>
                        <td colspan="3">
                            <input type="text" th:field="*{bidAmtDiff}" >
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button type="button" th:onclick="cudBidRecord()">저장</button>
            </div>
        </form>
    </div>
    <script>

        $(document).ready(function() {
             $('.decimalFormat').each(function() {
                var value = $(this).val();
                var format = decimalFormatter(value,2);
                $(this).val(format);
            });
        });

        function cudBidRecord() {

            if($("#marketCd").val() == "00" ){
                alert("조달청사이트 구분을 선택해주세요");
                return;
            }

            transNumber("bssamt");
            transNumber("presmptPrce");
            transNumber("expectAmt");
            transNumber("sucsfbidAmt");
            transNumber("bidAmt");
            transNumber("bidAmtDiff");

            $("form[name=bidRecordForm]").submit();
        }

        function transNumber(id) {
            var value = $("#"+id).val();
            var format = numFormatter(value);

            $("#"+id).val(format);
        }

        function numFormatter(value) {
            var format = Number(value.replaceAll(",",""));
            return format;
        }

        $(".integerFormat").change(function(){
            var value = $(this).val();
            const format = integerFormatter(Number(value.replaceAll(",","")));

            $(this).val(format);
        });

        $(".decimalFormat").change(function(){
            var value = $(this).val();
            const format = decimalFormatter(value.replaceAll(",",""),2);

            $(this).val(format);
        });

        function integerFormatter(value) {
            const format = value.toLocaleString();
            return format;
        }

        function decimalFormatter(value,place) {
            const format = Number.parseFloat(value).toFixed(place)
                .replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
            return format;
        }

        $("#sucsfbidLwltRate").change(function(){
            calcSucsfbidAmt();
        });
        $("#expectAmt").change(function(){
            calcSucsfbidAmtRate();
            calcSucsfbidAmt();
        });

        $("#sucsfbidAmt").change(function(){
            calcExpectAmtForSucsfbidAmt();
            calcSucsfbidAmtRate();
        });

        $("#bssamt").change(function(){
            calcBidAmtRate();
        });
        $("#bidAmt").change(function(){
            calcBidAmtRate();
            calcBidAmtDiff();
        });


        $("#marketCd").change(function(){
            var code = $(this).val();
            var codeName = $(this).find("option:selected").text();

            $("#marketCd").val(code);
            $("#marketNm").val(codeName);
        });

        function calcSucsfbidAmtRate(){
            var expectAmt = $("#expectAmt").val();
            var bssamt = $("#bssamt").val();

            if(expectAmt != null || expectAmt != ""){
                expectAmt = expectAmt.replaceAll(",","");
            }else{
                expectAmt = 0;
            }
            if(bssamt != null || bssamt != ""){
                bssamt = bssamt.replaceAll(",","");
            }else{
                bssamt = 0;
            }

            var calcValue = Number(expectAmt) / Number(bssamt) * 100 ;
            var format = decimalFormatter(calcValue,5);
            $("#sucsfbidAmtRate").val(format);
        }

        function calcBidAmtRate(){
            var bidAmt = $("#bidAmt").val();
            var bssamt = $("#bssamt").val();
            var sucsfbidLwltRate = $("#sucsfbidLwltRate").val();

            if(expectAmt != null || expectAmt != ""){
                bidAmt = bidAmt.replaceAll(",","");
            }else{
                bidAmt = 0;
            }
            if(bssamt != null || bssamt != ""){
                bssamt = bssamt.replaceAll(",","");
            }else{
                bssamt = 0;
            }
            if(sucsfbidLwltRate != null || sucsfbidLwltRate != ""){
                sucsfbidLwltRate = sucsfbidLwltRate.replaceAll(",","");
            }else{
                sucsfbidLwltRate = 0;
            }


            var calcValue = Number(bidAmt) / Number(bssamt) / Number(sucsfbidLwltRate) * 10000 ;
            var format = decimalFormatter(calcValue,5);
            $("#bidAmtRate").val(format);
        }

        function calcBidAmtDiff(){

            var sucsfbidAmt = $("#sucsfbidAmt").val();
            var bidAmt = $("#bidAmt").val();

            if(sucsfbidAmt != null || sucsfbidAmt != ""){
                sucsfbidAmt = sucsfbidAmt.replaceAll(",","");
            }else{
                sucsfbidAmt = 0;
            }
            if(bidAmt != null || bidAmt != ""){
                bidAmt = bidAmt.replaceAll(",","");
            }else{
                bidAmt = 0;
            }

            var calcValue = Number(bidAmt) - Number(sucsfbidAmt);
            var format = integerFormatter(calcValue);
            $("#bidAmtDiff").val(format);
            if(calcValue < 0 ) {
                $("#sucsfbidRank").val("탈락");
            }else{
                $("#sucsfbidRank").val("");
            }
        }

        function calcSucsfbidAmt(){

            var expectAmt = $("#expectAmt").val();
            var sucsfbidLwltRate = $("#sucsfbidLwltRate").val();

            if(expectAmt != null || expectAmt != ""){
                expectAmt = expectAmt.replaceAll(",","");
            }else{
                expectAmt = 0;
            }
            if(sucsfbidLwltRate != null || sucsfbidLwltRate != ""){
                sucsfbidLwltRate = sucsfbidLwltRate.replaceAll(",","");
            }else{
                sucsfbidLwltRate = 0;
            }

            var calcValue = Number(expectAmt) * Number(sucsfbidLwltRate) / 100;
            var format = decimalFormatter(calcValue,2);
            $("#sucsfbidAmt").val(format);

            calcBidAmtDiff();
        }

        function calcExpectAmtForSucsfbidAmt(){

            var sucsfbidAmt = $("#sucsfbidAmt").val();
            var sucsfbidLwltRate = $("#sucsfbidLwltRate").val();

            if(sucsfbidAmt != null || sucsfbidAmt != ""){
                sucsfbidAmt = sucsfbidAmt.replaceAll(",","");
            }else{
                sucsfbidAmt = 0;
            }
            if(sucsfbidLwltRate != null || sucsfbidLwltRate != ""){
                sucsfbidLwltRate = sucsfbidLwltRate.replaceAll(",","");
            }else{
                sucsfbidLwltRate = 0;
            }

            var calcValue = Number(sucsfbidAmt) * 100 / Number(sucsfbidLwltRate);
            var format = decimalFormatter(calcValue,2);
            $("#expectAmt").val(format);

            calcBidAmtDiff();
        }
    </script>

    <style>
        .trTest {
            overflow-y: auto
        }

        #bidNotiTable > tbody > tr {
            height: 55px;
            font-size: 17px;
        }

    </style>

</body>
</html>