<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>검색 화면 입니다.</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
</head>
<body>
    <div>
        <form name="datePerRateChart" method="post"  th:object="${winbidAnalSearchPayload}" >
            <div style="display: flex;">
                <div style="flex: 1;">
                    <h3 style="flex: 8;">기관 전체 사정율 통계 (하한:2%)</h3>
                    <canvas id="chartResultsTwo" width="300" height="100"></canvas>
                </div>
                <div style="flex: 1;">
                    <h3 style="flex: 8;">기관 전체 사정율 통계 (하한:3%)</h3>
                    <canvas id="chartResultsThree" width="300" height="100"></canvas>
                </div>
            </div>
            <div style="display: flex;">
                <h3 style="flex: 8;">날짜별 사정율 변화 그래프</h3>
                <div>하위 평균값 : <label id="lowerAvgText"></label> / </div>
                <div>평균값 : <label id="avgText"></label> / </div>
                <div>상위 평균값 : <label id="upperAvgText"></label></div>
                <input type="hidden" th:field="*{dtilPrdctClsfcNo}" placeholder="품명 번호">
                <div>
                    <select id="searchType">
                        <option value="1">수요기관 코드</option>
                        <option value="2">공고기관 코드</option>
                        <option value="3">수요기관 명</option>
                        <option value="4">공고기관 명</option>
                    </select>
                    <input type="text" th:field="*{dminsttCd}" placeholder="수요기관 코드" style="flex: 1;">
                    <input type="text" th:field="*{dminsttNm}" placeholder="수요기관 명" style="flex: 1;">
                    <input type="text" th:field="*{ntceInsttCd}" placeholder="공고기관 코드" style="flex: 1;">
                    <input type="text" th:field="*{ntceInsttNm}" placeholder="공고기관 명" style="flex: 1;">
                </div>
                <button type="button" th:onclick="getDatePerRateChart()" style="flex: 1;">차트 업데이트</button>
            </div>
            <canvas id="myChart" width="500" height="100"></canvas>
            <div style="display: flex;">
                <div style="flex: 1;" id="dminsttResultsTwoDiv">
                    <h3 style="flex: 8;"><label class="dminsttNmLabel"></label> 사정율 통계 (하한:2%)</h3>
                    <canvas id="dminsttResultsTwo" width="550" height="100"></canvas>
                </div>
                <div style="flex: 1;" id="dminsttResultsThreeDiv">
                    <h3 style="flex: 8;"><label class="dminsttNmLabel"></label> 사정율 통계 (하한:3%)</h3>
                    <canvas id="dminsttResultsThree" width="550" height="100"></canvas>
                </div>
            </div>
        </form>
    </div>

    <div id="analTotalDiv">
        <div>
            전체 통계 검색
            <form name="totalForm" method="post"  th:object="${winbidAnalSearchPayload}" >
                <input type="hidden" th:field="*{bssamtRate}" id="total_bssamtRate" placeholder="예측사정율">
                <input type="hidden" th:field="*{rateLevel}" id="total_rateLevel" placeholder="사정율 레벨">
                <input type="hidden" name="searchType" value="total">
                <table>
                    <tr>
                        <td id="total_befButton" class="befButton">
                            <a type="button" th:onclick="goBefLevel('total')" ><- 이전</a>
                        </td>
                        <td><button type="button" th:onclick="searchWinbidAnal('total')" >조회</button></td>
                    </tr>
                </table>
            </form>

            <table id="total_winbidAnalTable">
                <thead>
                <tr>
                    <td>예측사정율</td>
                    <td>통계건수</td>
                </tr>
                </thead>
                <tbody class="trTest">
                <tr th:each="result : ${winbidAnalSearchResults}">
                    <td>
                        <a th:onclick="goNextLevel('total',[[${result.bssamtRate}]])" style="color: blue;">
                            [[${result.bssamtRate}]]
                        </a>
                    </td>
                    <td th:text="${result.rateCount}"/>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            물품번호 통계 검색
            <form name="prdctForm" method="post"  th:object="${winbidAnalSearchPayload}" >
                <input type="hidden" th:field="*{bssamtRate}" id="prdct_bssamtRate" placeholder="예측사정율">
                <input type="hidden" th:field="*{rateLevel}" id="prdct_rateLevel" placeholder="사정율 레벨">
                <input type="hidden" name="searchType" value="prdct">
                <table>
                    <tr>
                        <td id="prdct_befButton" class="befButton">
                            <a type="button" th:onclick="goBefLevel('prdct')" ><- 이전</a>
                        </td>
                        <td>
                            <input type="text" th:field="*{dtilPrdctClsfcNo}" placeholder="품명 번호">
                        </td>
                        <td><button type="button" th:onclick="searchWinbidAnal('prdct')" >조회</button></td>
                    </tr>
                </table>
            </form>

            <table id="prdct_winbidAnalTable">
                <thead>
                <tr>
                    <td>예측사정율</td>
                    <td>통계건수</td>
                </tr>
                </thead>
                <tbody class="trTest">
                <tr th:each="result : ${winbidAnalSearchResults}">
                    <td>
                        <a th:onclick="goNextLevel('prdct',[[${result.bssamtRate}]])" style="color: blue;">
                            [[${result.bssamtRate}]]
                        </a>
                    </td>
                    <td th:text="${result.rateCount}"/>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            공고기관 통계 검색
            <form name="ntceInsttForm" method="post"  th:object="${winbidAnalSearchPayload}" >
                <input type="hidden" th:field="*{bssamtRate}" id="ntceInstt_bssamtRate" placeholder="예측사정율">
                <input type="hidden" th:field="*{rateLevel}" id="ntceInstt_rateLevel" placeholder="사정율 레벨">
                <input type="hidden" name="searchType" value="ntceInstt">
                <table>
                    <tr>
                        <td id="ntceInstt_befButton" class="befButton">
                            <a type="button" th:onclick="goBefLevel('ntceInstt')" ><- 이전</a>
                        </td>
                        <td>
                            <input type="text" th:field="*{ntceInsttCd}" placeholder="품명 번호">
                        </td>
                        <td><button type="button" th:onclick="searchWinbidAnal('ntceInstt')" >조회</button></td>
                    </tr>
                </table>
            </form>

            <table id="ntceInstt_winbidAnalTable">
                <thead>
                <tr>
                    <td>예측사정율</td>
                    <td>통계건수</td>
                </tr>
                </thead>
                <tbody class="trTest">
                <tr th:each="result : ${winbidAnalSearchResults}">
                    <td>
                        <a th:onclick="goNextLevel('ntceInstt',[[${result.bssamtRate}]])" style="color: blue;">
                            [[${result.bssamtRate}]]
                        </a>
                    </td>
                    <td th:text="${result.rateCount}"/>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            수요기관 통계 검색
            <form name="dminsttForm" method="post"  th:object="${winbidAnalSearchPayload}" >
                <input type="hidden" th:field="*{bssamtRate}" id="dminstt_bssamtRate" placeholder="예측사정율">
                <input type="hidden" th:field="*{rateLevel}" id="dminstt_rateLevel" placeholder="사정율 레벨">
                <input type="hidden" name="searchType" value="dminstt">
                <table>
                    <tr>
                        <td id="dminstt_befButton" class="befButton">
                            <a type="button" th:onclick="goBefLevel('dminstt')" ><- 이전</a>
                        </td>
                        <td>
                            <input type="text" th:field="*{dminsttCd}" placeholder="품명 번호">
                        </td>
                        <td><button type="button" th:onclick="searchWinbidAnal('dminstt')" >조회</button></td>
                    </tr>
                </table>
            </form>

            <table id="dminstt_winbidAnalTable">
                <thead>
                <tr>
                    <td>예측사정율</td>
                    <td>통계건수</td>
                </tr>
                </thead>
                <tbody class="trTest">
                <tr th:each="result : ${winbidAnalSearchResults}">
                    <td>
                        <a th:onclick="goNextLevel('dminstt','[[${result.bssamtRate}]]')" style="color: blue;">
                            [[${result.bssamtRate}]]
                        </a>
                    </td>
                    <td th:text="${result.rateCount}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

<script th:inline="javascript">
    $(document).ready(function(){
        $(".befButton").hide();
        $("#dminsttNm").hide();
        $("#ntceInsttCd").hide();
        $("#ntceInsttNm").hide();
    });

    // Thymeleaf에서 전달한 JSON 데이터를 JavaScript 변수로 변환
    var chartResultsTwoData = JSON.parse([[${chartResultsTwo}]]);
    var chartResultsThreeData = JSON.parse([[${chartResultsThree}]]);

    // Chart.js를 사용하여 그래프 그리기
    var chartResultsTwo = document.getElementById('chartResultsTwo').getContext('2d');
    var chartResultsThree = document.getElementById('chartResultsThree').getContext('2d');

    var ctx = document.getElementById('myChart').getContext('2d');
    var dminsttResultsTwo = document.getElementById('dminsttResultsTwo').getContext('2d');
    var dminsttResultsThree = document.getElementById('dminsttResultsThree').getContext('2d');


    // Chart 생성
    var chartResultsTwoChart = createChart(chartResultsTwo, chartResultsTwoData, '금액', '사정율', 'N');
    var chartResultsThreeChart = createChart(chartResultsThree, chartResultsThreeData, '금액', '사정율', 'N');

    var myChart = createChart(ctx, null, '날짜', '사정율', 'Y');
    var dminsttResultsTwoChart = createChart(dminsttResultsTwo, null, '금액', '사정율', 'N');
    var dminsttResultsThreeChart = createChart(dminsttResultsThree, null, '금액', '사정율', 'N');

    function getDatePerRateChart() {
        updateChartData(myChart, dminsttResultsTwoChart, dminsttResultsThreeChart, 'Y');

    }


    function befLevelChk(type, level) {
        if(level == 1) {
            $("#"+type+"_bssamtRate").val('');
            $("#"+type+"_befButton").hide();
        }else{
            $("#"+type+"_befButton").show();
        }
    }

    function goBefLevel(type) {
        var bssamtRate = $("#"+type+"_bssamtRate").val();
        var newRate = bssamtRate.slice(0, -1);
         $("#"+type+"_bssamtRate").val(newRate);

        var befLevel = Number($("#"+type+"_rateLevel").val()) - 1;
        $("#"+type+"_rateLevel").val(befLevel)

        var winbidAnalSearchPayload = $("form[name="+type+"Form]").serialize() ;

        befLevelChk(type, befLevel);
        searchWinbidAnal(type);
   }

   function goNextLevel(type, bssamtRate) {
        $("#"+type+"_bssamtRate").val(bssamtRate);
        var nextLevel = Number($("#"+type+"_rateLevel").val()) + 1;
        $("#"+type+"_rateLevel").val(nextLevel)

        var winbidAnalSearchPayload = $("form[name="+type+"Form]").serialize() ;

        befLevelChk(type, nextLevel);
        searchWinbidAnal(type);
   }

   function searchWinbidAnal(type){

       var winbidAnalSearchPayload = $("form[name="+type+"Form]").serialize() ;

       console.log("queryString : "+winbidAnalSearchPayload);

       $.ajax({
           url: "/api/winbidAnal/search/anal",
           data: winbidAnalSearchPayload,
           type: 'POST',
           success:function(data){
               $("#"+type+"_winbidAnalTable").replaceWith(data);
           }
       })

   }

    $("#searchType").change(function(){
        $("#dminsttCd").val("");
        $("#dminsttNm").val("");
        $("#ntceInsttCd").val("");
        $("#ntceInsttNm").val("");

        if($(this).val() == 1) {
            $("#dminsttCd").show();
            $("#dminsttNm").hide();
            $("#ntceInsttCd").hide();
            $("#ntceInsttNm").hide();
        } else if($(this).val() == 2) {
            $("#dminsttCd").hide();
            $("#dminsttNm").show();
            $("#ntceInsttCd").hide();
            $("#ntceInsttNm").hide();
        } else if($(this).val() == 3) {
            $("#dminsttCd").hide();
            $("#dminsttNm").hide();
            $("#ntceInsttCd").show();
            $("#ntceInsttNm").hide();
        } else if($(this).val() == 4) {
            $("#dminsttCd").hide();
            $("#dminsttNm").hide();
            $("#ntceInsttCd").hide();
            $("#ntceInsttNm").show();
        }
    });
</script>

<style>
    .trTest {
        overflow-y: auto
    }

    #bidNotiTable > tbody > tr {
        height: 55px;
        font-size: 17px;
    }

    #analTotalDiv {
        display : flex;
    }

    #analTotalDiv > div {
        flex : 1;
    }

</style>

</body>
</html>