<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>검색 화면 입니다.</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
</head>
<body>
    <div>
        <form name="datePerRateChart" method="post"  th:object="${winbidAnalSearchPayload}" >
            <div style="display: flex;">
                <div style="flex: 1;">
                    <h3 style="flex: 8;">기관 전체 사정율 통계 (하한:2%)</h3>
                    <canvas id="chartResultsTwo" width="300" height="100"></canvas>
                </div>
                <div style="flex: 1;">
                    <h3 style="flex: 8;">기관 전체 사정율 통계 (하한:3%)</h3>
                    <canvas id="chartResultsThree" width="300" height="100"></canvas>
                </div>
            </div>
            <div style="display: flex;">
                <h3 style="flex: 8;">날짜별 사정율 변화 그래프</h3>

                <input type="hidden" th:field="*{dtilPrdctClsfcNo}" placeholder="품명 번호">
                <div>
                    <select id="searchType">
                        <option value="1">수요기관 코드</option>
                        <option value="2">공고기관 코드</option>
                        <option value="3">수요기관 명</option>
                        <option value="4">공고기관 명</option>
                    </select>
                    <input type="text" th:field="*{dminsttCd}" placeholder="수요기관 코드" style="flex: 1;">
                    <input type="text" th:field="*{ntceInsttCd}" placeholder="공고기관 코드" style="flex: 1;">
                    <input type="text" th:field="*{dminsttNm}" placeholder="수요기관 명" style="flex: 1;">
                    <input type="text" th:field="*{ntceInsttNm}" placeholder="공고기관 명" style="flex: 1;">
                </div>
                <button type="button" th:onclick="getDatePerRateChart()" style="flex: 1;">차트 업데이트</button>
            </div>
            <div style="display: flex;">
                <div style="flex: 1;">
                    <div>
                        하위 : <label id="lowerAvgText"></label> / 평균값 : <label id="avgText"></label> / 상위 : <label id="upperAvgText"></label>
                    </div>
                    <div>
                        <canvas id="myChart" width="300" height="100"></canvas>
                    </div>
                </div>
                <div style="flex: 1;">
                    <div>
                        투찰 사정율 : <label id="latestBidRate"></label> / 낙찰 사정율 : <label id="latestSucRate"></label>
                    </div>
                    <div>
                        <canvas id="rankChart" width="300" height="100"></canvas>
                    </div>
                </div>
            </div>

            <div style="display: flex;">
                <div style="flex: 1;" id="dminsttResultsTwoDiv">
                    <h3 style="flex: 8;"><label class="dminsttNmLabel"></label> 사정율 통계 (하한:2%)</h3>
                    <canvas id="dminsttResultsTwo" width="550" height="100"></canvas>
                </div>
                <div style="flex: 1;" id="dminsttResultsThreeDiv">
                    <h3 style="flex: 8;"><label class="dminsttNmLabel"></label> 사정율 통계 (하한:3%)</h3>
                    <canvas id="dminsttResultsThree" width="550" height="100"></canvas>
                </div>
            </div>
        </form>
    </div>

<script th:inline="javascript">
    $(document).ready(function(){
        $("#dminsttNm").hide();
        $("#ntceInsttCd").hide();
        $("#ntceInsttNm").hide();
    });

    // Thymeleaf에서 전달한 JSON 데이터를 JavaScript 변수로 변환
    var chartResultsTwoData = JSON.parse([[${chartResultsTwo}]]);
    var chartResultsThreeData = JSON.parse([[${chartResultsThree}]]);

    // Chart.js를 사용하여 그래프 그리기
    var chartResultsTwo = document.getElementById('chartResultsTwo').getContext('2d');
    var chartResultsThree = document.getElementById('chartResultsThree').getContext('2d');

    var ctx = document.getElementById('myChart').getContext('2d');
    var dminsttResultsTwo = document.getElementById('dminsttResultsTwo').getContext('2d');
    var dminsttResultsThree = document.getElementById('dminsttResultsThree').getContext('2d');
    var rank = document.getElementById('rankChart').getContext('2d');



    // Chart 생성
    var chartResultsTwoChart = createChart(chartResultsTwo, chartResultsTwoData, '금액', '사정율', 'N');
    var chartResultsThreeChart = createChart(chartResultsThree, chartResultsThreeData, '금액', '사정율', 'N');

    var myChart = createChart(ctx, null, '날짜', '사정율', 'Y');
    var dminsttResultsTwoChart = createChart(dminsttResultsTwo, null, '금액', '사정율', 'N');
    var dminsttResultsThreeChart = createChart(dminsttResultsThree, null, '금액', '사정율', 'N');
    var rankChart = createChart(rank, null, '날짜', '순위', 'N');

    function getDatePerRateChart() {
        updateChartData(myChart, dminsttResultsTwoChart, dminsttResultsThreeChart, rankChart, 'Y');

    }


    $("#searchType").change(function(){
        $("#dminsttCd").val("");
        $("#dminsttNm").val("");
        $("#ntceInsttCd").val("");
        $("#ntceInsttNm").val("");

        if($(this).val() == 1) {
            $("#dminsttCd").show();
            $("#ntceInsttCd").hide();
            $("#dminsttNm").hide();
            $("#ntceInsttNm").hide();
        } else if($(this).val() == 2) {
            $("#dminsttCd").hide();
            $("#ntceInsttCd").show();
            $("#dminsttNm").hide();
            $("#ntceInsttNm").hide();
        } else if($(this).val() == 3) {
            $("#dminsttCd").hide();
            $("#ntceInsttCd").hide();
            $("#dminsttNm").show();
            $("#ntceInsttNm").hide();
        } else if($(this).val() == 4) {
            $("#dminsttCd").hide();
            $("#ntceInsttCd").hide();
            $("#dminsttNm").hide();
            $("#ntceInsttNm").show();
        }
    });
</script>

<style>
    .trTest {
        overflow-y: auto
    }

    #bidNotiTable > tbody > tr {
        height: 55px;
        font-size: 17px;
    }

    #analTotalDiv {
        display : flex;
    }

    #analTotalDiv > div {
        flex : 1;
    }

</style>

</body>
</html>