<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>검색 화면 입니다.</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div>
        <h1>날짜별 사정율 변화 그래프</h1>
        <canvas id="myChart" width="400" height="100"></canvas>
    </div>
    <div id="analTotalDiv">
        <div>
            전체 통계 검색
            <form name="totalForm" method="post"  th:object="${winbidAnalSearchPayload}" >
                <input type="hidden" th:field="*{bssamtRate}" id="total_bssamtRate" placeholder="예측사정율">
                <input type="hidden" th:field="*{rateLevel}" id="total_rateLevel" placeholder="사정율 레벨">
                <input type="hidden" name="searchType" value="total">
                <table>
                    <tr>
                        <td id="total_befButton" class="befButton">
                            <a type="button" th:onclick="goBefLevel('total')" ><- 이전</a>
                        </td>
                        <td><button type="button" th:onclick="searchWinbidAnal('total')" >조회</button></td>
                    </tr>
                </table>
            </form>

            <table id="total_winbidAnalTable">
                <thead>
                <tr>
                    <td>예측사정율</td>
                    <td>통계건수</td>
                </tr>
                </thead>
                <tbody class="trTest">
                <tr th:each="result : ${winbidAnalSearchResults}">
                    <td>
                        <a th:onclick="goNextLevel('total',[[${result.bssamtRate}]])" style="color: blue;">
                            [[${result.bssamtRate}]]
                        </a>
                    </td>
                    <td th:text="${result.rateCount}"/>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            물품번호 통계 검색
            <form name="prdctForm" method="post"  th:object="${winbidAnalSearchPayload}" >
                <input type="hidden" th:field="*{bssamtRate}" id="prdct_bssamtRate" placeholder="예측사정율">
                <input type="hidden" th:field="*{rateLevel}" id="prdct_rateLevel" placeholder="사정율 레벨">
                <input type="hidden" name="searchType" value="prdct">
                <table>
                    <tr>
                        <td id="prdct_befButton" class="befButton">
                            <a type="button" th:onclick="goBefLevel('prdct')" ><- 이전</a>
                        </td>
                        <td>
                            <input type="text" th:field="*{dtilPrdctClsfcNo}" placeholder="품명 번호">
                        </td>
                        <td><button type="button" th:onclick="searchWinbidAnal('prdct')" >조회</button></td>
                    </tr>
                </table>
            </form>

            <table id="prdct_winbidAnalTable">
                <thead>
                <tr>
                    <td>예측사정율</td>
                    <td>통계건수</td>
                </tr>
                </thead>
                <tbody class="trTest">
                <tr th:each="result : ${winbidAnalSearchResults}">
                    <td>
                        <a th:onclick="goNextLevel('prdct',[[${result.bssamtRate}]])" style="color: blue;">
                            [[${result.bssamtRate}]]
                        </a>
                    </td>
                    <td th:text="${result.rateCount}"/>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            공고기관 통계 검색
            <form name="ntceInsttForm" method="post"  th:object="${winbidAnalSearchPayload}" >
                <input type="hidden" th:field="*{bssamtRate}" id="ntceInstt_bssamtRate" placeholder="예측사정율">
                <input type="hidden" th:field="*{rateLevel}" id="ntceInstt_rateLevel" placeholder="사정율 레벨">
                <input type="hidden" name="searchType" value="ntceInstt">
                <table>
                    <tr>
                        <td id="ntceInstt_befButton" class="befButton">
                            <a type="button" th:onclick="goBefLevel('ntceInstt')" ><- 이전</a>
                        </td>
                        <td>
                            <input type="text" th:field="*{ntceInsttCd}" placeholder="품명 번호">
                        </td>
                        <td><button type="button" th:onclick="searchWinbidAnal('ntceInstt')" >조회</button></td>
                    </tr>
                </table>
            </form>

            <table id="ntceInstt_winbidAnalTable">
                <thead>
                <tr>
                    <td>예측사정율</td>
                    <td>통계건수</td>
                </tr>
                </thead>
                <tbody class="trTest">
                <tr th:each="result : ${winbidAnalSearchResults}">
                    <td>
                        <a th:onclick="goNextLevel('ntceInstt',[[${result.bssamtRate}]])" style="color: blue;">
                            [[${result.bssamtRate}]]
                        </a>
                    </td>
                    <td th:text="${result.rateCount}"/>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            수요기관 통계 검색
            <form name="dminsttForm" method="post"  th:object="${winbidAnalSearchPayload}" >
                <input type="hidden" th:field="*{bssamtRate}" id="dminstt_bssamtRate" placeholder="예측사정율">
                <input type="hidden" th:field="*{rateLevel}" id="dminstt_rateLevel" placeholder="사정율 레벨">
                <input type="hidden" name="searchType" value="dminstt">
                <table>
                    <tr>
                        <td id="dminstt_befButton" class="befButton">
                            <a type="button" th:onclick="goBefLevel('dminstt')" ><- 이전</a>
                        </td>
                        <td>
                            <input type="text" th:field="*{dminsttCd}" placeholder="품명 번호">
                        </td>
                        <td><button type="button" th:onclick="searchWinbidAnal('dminstt')" >조회</button></td>
                    </tr>
                </table>
            </form>

            <table id="dminstt_winbidAnalTable">
                <thead>
                <tr>
                    <td>예측사정율</td>
                    <td>통계건수</td>
                </tr>
                </thead>
                <tbody class="trTest">
                <tr th:each="result : ${winbidAnalSearchResults}">
                    <td>
                        <a th:onclick="goNextLevel('dminstt','[[${result.bssamtRate}]]')" style="color: blue;">
                            [[${result.bssamtRate}]]
                        </a>
                    </td>
                    <td th:text="${result.rateCount}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

<script th:inline="javascript">
    $(document).ready(function(){
        $(".befButton").hide();
    });

    // Thymeleaf에서 전달한 JSON 데이터를 JavaScript 변수로 변환
    var dataModels = JSON.parse([[${chartResults}]]);
    var labels = [];
    var dataValues = [];

    // JSON 데이터를 파싱하여 labels와 dataValues로 나누기
    dataModels.forEach(function(item) {
        labels.push(item.opengDt);  // X축에 표시할 날짜 (LocalDateTime)
        dataValues.push(item.plnprcRate);  // Y축에 표시할 예측 사정율 (plnprcRate)
    });

    // Chart.js를 사용하여 그래프 그리기
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line', // 라인 차트
        data: {
            labels: labels, // X축 값 (날짜)
            datasets: [{
                label: '사정율 변화',
                data: dataValues, // Y축 값 (가격)
                borderColor: 'rgba(75, 192, 192, 1)', // 선 색상
                borderWidth: 1,
                fill: false // 선 아래를 채우지 않음
            }]
        },
        options: {
            responsive: true,
            scales: {
                x: {
                    type: 'category',
                    title: {
                        display: true,
                        text: '날짜'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: '가격'
                    }
                }
            }
        }
    });


    function befLevelChk(type, level) {
        if(level == 1) {
            $("#"+type+"_bssamtRate").val('');
            $("#"+type+"_befButton").hide();
        }else{
            $("#"+type+"_befButton").show();
        }
    }

    function goBefLevel(type) {
        var bssamtRate = $("#"+type+"_bssamtRate").val();
        var newRate = bssamtRate.slice(0, -1);
         $("#"+type+"_bssamtRate").val(newRate);

        var befLevel = Number($("#"+type+"_rateLevel").val()) - 1;
        $("#"+type+"_rateLevel").val(befLevel)

        var winbidAnalSearchPayload = $("form[name="+type+"Form]").serialize() ;

        befLevelChk(type, befLevel);
        searchWinbidAnal(type);
   }

   function goNextLevel(type, bssamtRate) {
        $("#"+type+"_bssamtRate").val(bssamtRate);
        var nextLevel = Number($("#"+type+"_rateLevel").val()) + 1;
        $("#"+type+"_rateLevel").val(nextLevel)

        var winbidAnalSearchPayload = $("form[name="+type+"Form]").serialize() ;

        befLevelChk(type, nextLevel);
        searchWinbidAnal(type);
   }

   function searchWinbidAnal(type){

       var winbidAnalSearchPayload = $("form[name="+type+"Form]").serialize() ;

       console.log("queryString : "+winbidAnalSearchPayload);

       $.ajax({
           url: "/api/winbidAnal/search/anal",
           data: winbidAnalSearchPayload,
           type: 'POST',
           success:function(data){
               $("#"+type+"_winbidAnalTable").replaceWith(data);
           }
       })

   }
</script>

<style>
    .trTest {
        overflow-y: auto
    }

    #bidNotiTable > tbody > tr {
        height: 55px;
        font-size: 17px;
    }

    #analTotalDiv {
        display : flex;
    }

    #analTotalDiv > div {
        flex : 1;
    }

</style>

</body>
</html>